@import "../../components/ui/colors";

.conference {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-rows: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 20px;
}

.conference__menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 140px;
  padding: 25px 0;
}

.conference__logo {
  width: 35px;
  height: 35px;
}

.conference__links {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}

.conference__link-icon {
  width: 30px;
  height: 30px;
}

.conference__body {
  background-color: $grey-1;
  height: calc(100% - 20px);
  overflow: hidden;
  border-radius: 40px;
  padding: 24px 20px 20px 20px;
  box-sizing: border-box;
}

.conference__right-column {
  width: 580px;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}

