.conference {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 700px) {
  .conference {
    grid-template-columns: 1fr max-content;
  }
}

.conference__main-window {
  padding: 10px;
  overflow: auto;
}

.conference__header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .conference__header {
    flex-flow: column nowrap;
    align-items: baseline;
  }
}

.conference__username {
  display: flex;
  align-items: center;
  color: grey;
  font-size: small;
  font-weight: bold;
  margin-top: 3px;
}

.conference__username input {
  padding: 0 0 2px;
  margin-left: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  color: grey;
  font-size: small;
  font-weight: bold;
}

.conference__tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media (max-width: 600px) {
  .conference__tools {
    width: 100%;
    justify-content: space-between;
  }
}

.conference__title {
  font-size: 25px;
  margin-bottom: 10px;
}

.conference__date {
  font-size: 10px;
  color: grey;
}

.conference__column {
  width: 350px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px;
}

.conference__other-windows .window {
  height: 180px;
  margin-bottom: 10px;
}