.conference {
  display: grid;
  grid-template-columns: 1fr max-content max-content;
  height: 100%;
  background: rgb(235, 235, 235);
}

.conference__main-window {
  padding: 10px;
}

.conference__header {
  padding: 10px;
}

.conference__title {
  font-size: 25px;
  margin-bottom: 10px;
}

.conference__date {
  font-size: 10px;
  color: grey;
}

.conference__column {
  width: 350px;
  height: 100%;
  overflow: auto;
  padding: 10px;
  box-sizing: border-box;
  padding: 10px;
}

.conference__other-windows {
  display: flex;
  flex-flow: column nowrap;
  gap: 10px;
}

.conference__other-windows .window {
  height: 180px;
}