@import "../components/ui/colors";

.preparation {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  font-weight: bold;
}

@media (max-width: 1000px) {
  .preparation {
    align-items: flex-start;
  }
}

.preparation__form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 15px;
  width: 100%;
  box-sizing: border-box;
}

.preparation__camera {
  width: 438px;
  height: 438px;
  overflow: hidden;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preparation__camera-container{
  overflow: hidden;
  box-sizing: border-box;
  width: 390px;
  height: 390px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preparation__fields {
  width: 372px;
  max-width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;

  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.preparation__avatar {
  height: 100px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}

.preparation__avatar-img {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preparation__avatar-img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

.preparation__avatar-toggle {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  width: 270px;
  padding-top: 5px;
}

.preparation__avatar-none {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50px;
  background: rgba(0, 0, 0, 0.2);
  color: #e1e1e1;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  font-size: small;
  box-sizing: border-box;
}

.preparation__avatar-icon {
  position: absolute;
  width: 100px;
  height: 100px;
}

.preparation__avatar-icon svg {
  margin-top: 10px;
  width: 50px;
  height: 50px;
}

.preparation__avatar-text {
  margin-top: 45px;
}

.preparation__avatar_active {
  border: 3px solid $light-turquoise;
}

.preparation__field {
  width: 100%;
  
  display: inline;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

  padding: 4px 24px;
  padding-bottom: 8px;
  margin-top: 27px;

  border-radius: 73px;

  background: white;
  color: grey;
}

.preparation__field  input {
  display: block;
  width: 100%;
  border: none;
  outline: none;
  box-sizing: border-box;

  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

.preparation__submit {
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}