@import "./fonts/SFPro/stylesheet.css";

* {
  font-family: 'SF Pro Display';
}

body {
  margin: 0;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;  width: 100vw;
  height: 100vh;
  z-index: -10;
  object-fit: cover;
  object-position: center;
  background: linear-gradient(103.4deg, #007AFE 0%, #00C7BE 100%);
}

.card {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  overflow: auto;
  max-height: 100%;
}

.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  padding: 6px 12px 6px 8px;
  background: green;
  border-radius: 18px;
  color: white;
  font-weight: bold;
  font-size: larger;
}
