.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.file__info {
  display: flex;
  align-items: center;
}

.file__img {
  width: 36px;
  height: 36px;
  border-radius: 50%;

  object-fit: cover;
  object-position: center;
}

.file__text {
  padding-left: 15px;
}

.file__name {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.file__size {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}